
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #17181C;
    color: #F1F2F4;
    font-family: 'Open Sans', 'Pretendard';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#description {
    line-height: 1.625;
}

#logo {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}

p {
    color: #C7C9D1;
}

img {
    width: 32px;
    height: auto;
}

strong {
    font-weight: 700;
}

a:link, a:visited {
    color: inherit;
}
