
pre * {
    white-space: pre;
}

code {
    --codebox-padding: 20px;
    --codebox-radius: 8px;
}

code, code * {
    font-family: 'JetBrains Mono';
    font-size: var(--code-font-size);
    line-height: var(--text-line-height);
}

code.block {
    font-weight: 700;
}

code.hljs {
    border-radius: var(--codebox-radius);
}

pre code.hljs { 
    display: block;
    overflow-x: auto;
    padding: var(--codebox-padding);
}

pre code.hljs::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.181);
}

/* td.hljs-ln-line.hljs-ln-code {
    margin-right: var(--codebox-padding);
}

.hljs-ln-line {
    border: none;
}

.hljs-ln-line.hljs-ln-numbers {
    text-align: center;
    padding-right: var(--codebox-padding);
    user-select: none;
} */

.hljs {
    background: #222;
    color: #ddd;
}

.hljs-punctuation {
    color: #ddd;
}

.hljs-comment {
    color:#555;
}

.hljs-tag {
    color: #444a;
}

.hljs-tag .hljs-attr, .hljs-tag .hljs-name {
    color: #444;
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
    font-weight: 700;
}

.hljs-keyword {
    color: #b300ff;
    font-style: italic;
}

.hljs-string {
    color: #00ffd5;
}

.hljs-number {
    color: #00eeff;
}

.hljs-deletion, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-template-tag, .hljs-type {
    color: #800;
}

.hljs-section, .hljs-title.function_ {
    color: #00d5ff;
}

.hljs-title.class_ {
    color: #ff00f7;
}

.hljs-regexp, .hljs-attr {
    color: #ff00cc;
}

.hljs-link, .hljs-operator, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    color:#bc6060;
}

.hljs-literal {
    color: #998cff;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    color:#9165ff;
}

.hljs-meta { 
    color: #1f7199;
}

.hljs-meta .hljs-string {
    color: #00ffd5;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}