
:root {
    --background-color: #333;
    --box-color: #222;
    --border-color: #181818;
    --text-color: #ddd;
    --mark-color: #ddd;
    --color-red: #c80075;
    --color-green: #00d3a5;
    --scroll-color: black;
}

main {
    --table-bold-border-color: black;
}

#deprecated {
    --alert-bg-color: #3a2600;
}
