
:root {
    --viewbox-padding: 7.5vw;
    --header-height: 64px;
    --layout-template: none;
    --viewbox-width: 100%;
    --scroll-size: 12px;
}

header {
    --header-padding: 4px var(--viewbox-padding);
    --header-title-font-size: 1.25rem;

    width: 100vw;
    box-sizing: border-box;
}

aside {
    position: fixed;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    padding: var(--aside-padding) var(--viewbox-padding) 0px var(--viewbox-padding);
    border: none;
    overflow: auto;
    display: none;
}

div#list-box {
    left: var(--viewbox-padding);
    width: calc(100% - var(--viewbox-padding) * 2);
    float: left;
}

div#global-box {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}

main {
    --main-padding-top: 56px;
    --article-margin: 12px;
    --con-small-margin-left: 12px;
    --h2-title-font-size: 20px;
    --h3-title-font-size: 16px;
    --main-font-size: 14px;

    width: 100%;
    padding-left: var(--viewbox-padding);
    padding-right: var(--viewbox-padding);
    box-sizing: border-box;
}

code {
    --code-font-size: 12px;
    --codebox-padding: 15px;
}
