
aside {
    --aside-padding: 48px;
    --list-box-width: calc(30vw - var(--viewbox-padding));
    --list-box-height: 80vh;
    --title-margin: 8px 0px;
    --title-font-size: 1.25rem;
    --title-font-weight: 900;
    --list-el-font-size: 1rem;
    
    --list-el-margin-left: 16px;

    height: calc(100% + 72px);
    box-sizing: border-box;
    background-color: var(--box-color);
    padding: var(--aside-padding);
    padding-right: 0px;
    /* padding-left: var(--viewbox-padding); */
    position: relative;
    border-right: 2px solid var(--border-color);
}

aside * {
    user-select: none;
}

div#list-box {
    position: fixed;
    left: var(--viewbox-padding);
    width: var(--list-box-width);
    height: var(--list-box-height);
    overflow: auto;
}

details {
    margin-bottom: 16px;
}

summary, div.list-el {
    font-family: 'Open Sans', 'Pretendard';
    cursor: pointer;
    color: var(--text-color);
}

summary {
    font-size: var(--title-font-size);
    font-weight: normal;
    margin: var(--title-margin);
}

div.list-el {
    font-size: var(--list-el-font-size);
    line-height: var(--text-line-height);
    margin-left: var(--list-el-margin-left);
}

details[open] summary {
    font-weight: var(--title-font-weight);
}

